<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css"/>
    <meta name="description" content="Free Restaurant catalogue for you">
    <link rel="icon" href="./favicon2.png">
    <link rel="manifest" href="./app.webmanifest">
    <meta name="theme-color" content="#DB0000"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.jpg">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

  </head>
  <body>
      <a href="#drawer" class="skip-link">Menuju ke konten</a>
      <header class="header">        
         <h1 class="header__title">Bakar Aja</h1>
        </div>
       <button id="menu" class="header__menu">☰</button>
      </header>

        <!--<nav id="drawer" class="nav">-->
        <nav id="drawer" class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="#/home">Home</a></li>
            <li class="nav__item"><a href="#/favorite">Favorite</a></li>
          <li class="nav__item"><a href="https://www.linkedin.com/in/zaiful-ramadhan-aa2025241/">About Us</a></li>
        </ul>
      </nav>

    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Restaurant Apps Starter Project</h1>
        <p class="hero__tagline">Hallo coders! Anda berhasil menjalankan starter project.</p>
        <p class="hero__tagline">
          Jangan lupa untuk menggunakan salah satu gambar yang berada pada images heros sebagai background hero elemen.
        </p>
      </div>
    </div>
   
    <main id="mainContent">
      <section class="content">
        <div class="latest">
          <h1 class="latest__label">Explor Restaurant</h1>
          <div class="posts">
          </div>
        </div>
      </section>
    </main>

    <footer>
      <p>Copyright © Zaiful Bakar Aja</p>
    </footer>
  </body>
</html>
